
{{> headerUser}}
<!-- Action Carousel -->
<div class="container">
  <h3 class="member-welcome">Logged in as {{user.name}}</h1>
  <div class="row">
    <h3 id="genreTitle"> Action </h3>
    <div class="col-md-12 members-col-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel1">
        <div class="carousel-inner col-md-4">
          {{#each action}}
          {{#if @first}}
          <div class="item active">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/if}}
          {{#unless @first}}
          <div class="item">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>
        <a class="left carousel-control" href="#theCarousel1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>

<!-- Comedy Carousel -->
  <div class="row">
    <h3 id="genreTitle"> Comedy </h3>
    <div class="col-md-12 members-col-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel2">
        <div class="carousel-inner col-md-4">
          {{#each comedy}}
          {{#if @first}}
          <div class="item active">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/if}}
          {{#unless @first}}
          <div class="item">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>
        <a class="left carousel-control" href="#theCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>

<!-- Drama Carousel -->
  <div class="row">
    <h3 id="genreTitle"> Drama </h3>
    <div class="col-md-12 members-col-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel3">
        <div class="carousel-inner col-md-4">
          {{#each drama}}
          {{#if @first}}
          <div class="item active">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/if}}
          {{#unless @first}}
          <div class="item">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>
        <a class="left carousel-control" href="#theCarousel3" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel3" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>

<!-- Animation Carousel -->
  <div class="row">
    <h3 id="genreTitle"> Animation </h3>
    <div class="col-md-12 members-col-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel4">
        <div class="carousel-inner col-md-4">
          {{#each animation}}
          {{#if @first}}
          <div class="item active">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/if}}
          {{#unless @first}}
          <div class="item">
            <div class="col-xs-4 col-md-4 poster" id="{{tmdbId}}" value="{{tmdbId}}"><img src="{{poster}}" class="img-responsive" href="#posterModal" data-toggle="modal"></a></div>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>
        <a class="left carousel-control" href="#theCarousel4" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel4" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>


  <!-- Poster Modal -->
  <div id="posterModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 id="posterModalTitle"></h4>
              </div>
              <div class="modal-body">
                  <p id="posterModalYear"></p>
                  <p id="posterModalPlot"></p>
                  <p id="posterModalGenre"></p>
                  <p id="posterModalDirector"></p>
                  <p id="posterModalCast"></p>
              </div>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript" src="js/members.js"> </script>
