
{{> headerUser}}
<!-- Action Carousel -->
<div class="container">
  <h3 class="member-welcome">Logged in as {{user}}</h1>

    <div class= "body_barOne">
  </div>
      <div class= "body_barTwo">
  </div>
      <div class= "body_barThree">
  </div>
      <div class= "body_barFour">
  </div>
        <div class= "body_barFive">
  </div>
    <div class="row">
    <h3 id="genreTitle"> Reccomendations </h3>
  <div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
      {{#each recs}}
      <div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "options">
            <button type="button" class="liked btn btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
      {{/each}}
        </div>
        </div>
          <div class="row">
    <h3 id="genreTitle"> Action </h3>

    <div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
        
          {{#each action}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "options">
            <button type="button" class="liked btn btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
          {{/each}}
       </div>
       </div>
       </div>


<!-- Comedy Carousel -->
  <div class="row">
    <h3 id="genreTitle"> Comedy </h3>
<div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">

          {{#each comedy}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "options">
            <button type="button" class="liked btn btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
          {{/each}}
        </div>
      </div>
      </div>

<!-- Drama Carousel -->
  <div class="row">
    <h3 id="genreTitle"> Drama </h3>
<div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
          {{#each drama}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "options">
            <button type="button" class="liked btn btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

<!-- Animation Carousel -->
  <div class="row">
    <h3 id="genreTitle"> Animation </h3>
    <div class="col-md-12 members-col-12">
<div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
          {{#each animation}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "options">
            <button type="button" class="liked btn btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>

          {{/each}}
        </div>
      </div>
    </div>
  </div>
<div class="row">
<div class= "footer_help">
</div>
</div>

  <!-- Poster Modal -->
  <div id="posterModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 id="posterModalTitle"></h4>
              </div>
              <div class="modal-body">
                  <p id="posterModalYear"></p>
                  <p id="posterModalPlot"></p>
                  <p id="posterModalGenre"></p>
                  <p id="posterModalDirector"></p>
                  <p id="posterModalCast"></p>
              </div>
          </div>
      </div>
  </div>
</div>
<script type="text/javascript" src="js/members.js"> </script>
<script type="text/javascript">

$(document).ready(function(){

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})});


// Populate data to modal
$(".btn").on("click", function(event) {
  var movieInfo = {id: this.id, opinion: $(this).val()};
  var opinion = {opinion: $(this).val()};
  // console.log(movieId);
  // console.log(opinion);
  // var holder= $(this).parents()[1];
  // console.log(holder);
  // $(holder).hide();
  $.post("/profile", movieInfo, function(data) {
    }).then(function(data) {
      // console.log("data ", data);
    }).then(function() {

  });
});
$(".options").on("mouseenter", function(){
  $(this).children().css("opacity", 0.9);

});
$(".options").on("mouseleave", function(){
  $(this).children().css("opacity", 0.2)
});
// $(".poster").on("click", function(event) {

//   var movieId = {id: this.id};
//   console.log(movieId);

//   $.post("/api/find", movieId, function(data) {
//     }).then(function(data) {
//         var movieTrailer = data[0].title;
//         var movieYear = data[0].year;
//         var moviePlot = data[0].plot;
//         var movieGenre = data[0].genre;
//         var movieActors = data[0].actors;
//         var movieDirector = data[0].director;
//         $("#posterModalTitle").text(movieTrailer);
//         $("#posterModalYear").text(movieYear);
//         $("#posterModalPlot").text(moviePlot);
//         $("#posterModalGenre").text(movieGenre);
//         $("#posterModalDirector").text("Director: " + movieDirector);
//         $("#posterModalCast").text("Cast: " + movieActors);
//     });
// });
</script>
