
{{> headerUser}}
  <br>
  <h3 class="member-welcome">Logged in as {{user.name}}</h3>

    <div class= "body_barOne">
  </div>
      <div class= "body_barTwo">
  </div>
      <div class= "body_barThree">
  </div>
      <div class= "body_barFour">
  </div>
        <div class= "body_barFive">
  </div>
    <div class="row">

    <h3 id="genreTitle"> Recommendations </h3>
  <div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
      {{#each recs}}
      <div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "optionsOne">
            <button type="button" class="liked btn btnFix btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btnFix btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btnFix btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
      {{/each}}
        </div>
        </div>
          <div class="row">
    <h3 id="genreTitle" class="owlFix"> Action </h3>

    <div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
        
          {{#each action}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "optionsOne">
            <button type="button" class="liked btn btnFix btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btnFix btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btnFix btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
          {{/each}}
       </div>
       </div>
       </div>


<!-- Comedy Carousel -->
  <div class="row">
    <h3 id="genreTitle" class="owlFix"> Comedy </h3>
<div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">

          {{#each comedy}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "optionsOne">
            <button type="button" class="liked btn btnFix btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btnFix btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btnFix btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
          {{/each}}
        </div>
      </div>
      </div>

<!-- Drama Carousel -->
  <div class="row">
    <h3 id="genreTitle"> Drama </h3>
<div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
          {{#each drama}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "optionsOne">
            <button type="button" class="liked btn btnFix btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btnFix btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btnFix btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

<!-- Animation Carousel -->
  <div class="row">
    <h3 id="genreTitle" class="owlFix"> Animation </h3>
    <div class="col-md-12 members-col-12">
<div class="col-md-12 members-col-12">
      <div class="owl-carousel owl-theme">
          {{#each animation}}
<div class="connect">
          <img src="{{poster}}"  class="item poster" id="{{tmdbId}}" value="{{tmdbId}}"> 
              <div class= "optionsOne">
            <button type="button" class="liked btn btnFix btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
            <button type="button" class="notseen btn btnFix btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="disliked btn btnFix btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
            </div>
            </div>

          {{/each}}
        </div>
      </div>
    </div>
  </div>
<div class="row">
<div class= "footer_help">
</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content parent-backdrop">
        <span class="close">&times;</span>
        <div class="backdrop"></div>
        <div class="movie-details">
        <div class="row">
          <div class="modal-poster-movie col-md-3"></div>
          <div class="modal-details-movie col-md-8"></div>
          <div class="modal-actors-movie col-xs-3"></div>
          <div class="modal-director-movie col-sm-3"></div>
        </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/members.js"> </script>
<script type="text/javascript">

$(document).ready(function(){

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})});


// Populate data to modal
$(".btn").on("click", function(event) {
  var movieInfo = {id: this.id, opinion: $(this).val()};
  var opinion = {opinion: $(this).val()};
  // console.log(movieId);
  // console.log(opinion);
  // var holder= $(this).parents()[1];
  // console.log(holder);
  // $(holder).hide();
  $.post("/profile", movieInfo, function(data) {
    }).then(function(data) {
      // console.log("data ", data);
    }).then(function() {

  });
});
$(".optionsOne").on("mouseenter", function(){
  $(this).children().css("opacity", 0.9);

});
$(".optionsOne").on("mouseleave", function(){
  $(this).children().css("opacity", 0.2)
});
$(".poster").on("click", function(event) {


  var movieId = {id: this.id};
  console.log(movieId);

  $.post("/api/find", movieId, function(data) {
    }).then(function(data) {

      var movieTitle = data[0].title;
      var movieRating = data[0].rating
      var moviePlot = data[0].plot;
      var movieActors = data[0].actors;
      var movieYear = data[0].year;
      var movieDirector = data[0].director;
      var movieBackdrop = data[0].backdrop;
      var moviePoster = data[0].poster;
      
      $('.backdrop').css('background-image', 'url(' + data[0].backdrop + ')');
      $(".modal-poster-movie").html("<img class='modal-poster' src='" + moviePoster + "'>");
      $(".modal-details-movie").html("<p>Title: " + movieTitle + 
                                   "</p><p>Rating: " + movieYear + " / " + movieRating + 
                                   "</p><hr><p>Plot: " + moviePlot + 
                                   "</p><hr>");
      $(".modal-actors-movie").html("<p>Actors: <br>" + movieActors + "</p>");
      $(".modal-director-movie").html("<p>Director: <br>" + movieDirector + "</p>");
      $(".modal").css("display", "block");
    });
});

// close modal on clicking x
var modal = document.getElementById('myModal');
var span = document.getElementsByClassName("close")[0];
span.onclick = function() {
    modal.style.display = "none";
}
</script>
