{{> headerUser}}

<div class="container footerspace">
  <h2>Welcome {{user.name}}<span class="member-name"></span></h2>

  <ui>
    {{#each photo}}
      <ul>
        <img src="{{poster}}">
        <button type="button" class="liked btn btn-success btn-lg" id="{{tmdbId}}" value="like"><i class="fa fa-thumbs-up"></i></button>
        <button type="button" class="disliked btn btn-danger btn-lg" id="{{tmdbId}}" value="dislike"><i class="fa fa-thumbs-down"></i></button>
        <button type="button" class="notseen btn btn-warning btn-lg" id="{{tmdbId}}" value="pass"><i class="fa fa-chevron-right"></i></button>
      </ul>
    {{/each}}
  </ui>
</div>

<script>
$(".btn").on("click", function(event) {
  var eThis = this;
  var movieInfo = {id: this.id, opinion: $(this).val()};
  var opinion = {opinion: $(this).val()};
  // console.log(movieId);
  console.log(opinion);

  $.post("/profile", movieInfo, function(data) {
    }).then(function(data) {
      console.log("data ", data);
    }).then(function() {
    
  });
});

</script>